* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background:rgb(255, 255, 255);

}

header {
  background:rgb(28, 28, 176);
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav a {
  color: whitesmoke;
  
  margin: 0 15px;
  font-weight: bold;
}

#about {
  text-align: center;
  padding: 40px 20px;
}

#about img {
  width: 150px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
}
#skills {
  background: white;
  padding: 40px 20px;
  text-align: center;
}

#skills table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
}

#skills th, #skills td {
  border: 1px solid rgb(28, 28, 176);
  padding: 10px;
}

#skills th {
  background:rgb(30, 73, 215);
  color: white;
}


#projects {

  padding: 40px 20px;
  text-align: center;
}

.project {
  background: rgb(242, 240, 240);
  margin: 15px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(84, 25, 25, 0.1);
}

/* Contact */
#contact {
  background: white;
  padding: 40px 20px;
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
  width: 60%;
}

form label {

  margin-top: 10px;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid blue;
  border-radius: 4px;
}

form button {
  background: rgb(240, 211, 168);
  color: white;

  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

form button:hover {
  background:rgb(218, 176, 113);
}
hr {
  border: none;
  height: 2px;
  background-color: #0047ab;
  margin: 30px 0;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid blue;
  padding: 10px;
  text-align: left;
}

th {
  background-color: blue;
  color: white;
}

form table {
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid blue;}
  button {
  width: 100%;
  padding: 10px;
  background-color: #0047ab;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: blue;
}
  
  
  .back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: blue;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top:hover {
  background-color: blue;
  transform: scale(1.1);
}

